import * as React from 'react';

import { Div, Text } from '~/components/Basics';

import { I{{ pascalCase name }}Layout } from '~/components/{{ pascalCase name }}/data'

export const {{pascalCase name}} = ({ data }: I{{pascalCase name}}Layout ) => (
  <Div flex={1} center testID={`{{pascalCase name}}`}>
    <Text color="ORANGE">{`{{pascalCase name}}`}</Text>
  </Div>
)